results
.snakemake
gurobi.log
config.yaml
topo.nc
.vscode/settings.json
resources/GEBCO_2014_2D.nc
resources/Africa.geojson
snakefile
resources/grid_spec.txt
results_*
dag*
#*.ipynb
.esg
config_temp.yaml
config_temp1.yaml
scripts/calibrateOnshore.py
scripts/calibrateOffshore.py
slurmout/
*.mps
*.sol
notebooks/*
!notebooks/MLP/
notebooks/MLP/*.nc
*.pkl
*.pt
*.xlsx
*.ipynb
*.pyc
# pixi environments
.pixi/*
!.pixi/config.toml

